@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

/* Styling Page 1 */
#page1 {
    height: 100vh;
    width: 100%;
}

#page1 .container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    width: 100%;
}

header .logo {
    width: 20%;
}
header nav {
    width: 70%;
    margin-right: 2%;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

header ul li {
    text-align: center;
}

header ul a {
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    color: #1E1B1B;
    justify-content: center;
    text-align: center;
    width: 19%;
}

header ul a:hover {
    color: #FF6433;
    font-size: 24px;
}

header .right-section {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #939191;
    padding: 0 20px;
    height: 30px;
    width: 25%;
}

header .contact img {
    padding-right: 10px;
    width: 90%;
}

header .contact .road-assist #assist {
    font-size: 16px;
    opacity: 0.7;
}

header .contact .road-assist #phone-number {
    font-size: 18px;
    opacity: 1.0;
    padding-top: 5px;
}

#page1 .container .page-body {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#page1 .container .page-body .left-section {
    width: 50%;
}

#page1 .container .page-body .left-section h1 {
    font-size: 54px;
    padding-bottom: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

#page1 .container .page-body .left-section #button {
    padding: 10px 40px;
    font-size: 18px;
    width: auto;
    border-radius: 8px;
    margin-bottom: 40px;
    cursor: pointer;
}

#page1 .container .page-body .left-section .open-part {
    display: flex;
    align-items: center;
    font-size: 18px;
}

#page1 .container .page-body .left-section .open-part img {
    margin-right: 15px;
    width: 30px;
}

#page1 .container .page-body .left-section .open-part #open {
    font-size: 16px;
    color: #939191;
    padding-bottom: 5px;
}

#page1 .container .page-body .right-section {
    width: 50%;
    height: auto;
}

#page1 .container .page-body .right-section img {
    width: 100%;
}

/* Styling Page 2 */
#page2 {
    width: 100%;
    height: 100vh;
    background-color: #E2E6E9;
    display: flex;
    justify-content: space-around;
}

#page2 .services {
    width: 60%;
    margin: 80px 0 0 150px;
    height: 100vh;
}

#page2 .services h2 {
    font-size: 50px;
    line-height: 54px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 10px;
    width: 80%;
}

#page2 .services ul {
    list-style: none;
}

#page2 .services ul li h5 {
    font-size: 30px;
}

#page2 .services ul li .top {
    display: flex;
    align-items: center;
}
#page2 .services ul li img {
    width: 50px;
    padding-right: 10px;
}

#page2 .services ul li p {
    font-size: 18px;
    padding: 0 40px 25px 50px;
    width: 70%;
}

#page2 .services .know-more {
    padding-left: 50px;
}

#page2 .services .know-more a {
    text-decoration: none;
    font-size: 18px;
    color: #1E1B1B;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    align-items: center;
    display: flex;
}

#page2 .services .know-more img {
    padding-left: 10px;    
}

#page2 .form-section {
    width: 50%;
}

#page2 .form-section h3 {
    font-size: 48px;
    line-height: 60px;
    width: 70%;
    margin: 100px 0 30px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px 30px;
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 20px;
    border: none;
    border-radius: 2px;
}

#page2 .form-section #button {
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    width: auto;
}

/* Styling page 3 */

#page3 {
    width: 100%;
    background-color: #fff;
    display: flex;
    padding-top: 80px;
}

#page3 .process-left {
    margin: 60px 120px;
    width: 40%;
}

#page3 .process-left h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    letter-spacing: -0.03em;
}

#page3 .process-left p {
    font-size: 16px;
    line-height: 28px;
    width: 90%;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: #1E1B1B;
    padding-top: 15px;
    margin-bottom: 10px;
}

#button {
    width: 30%;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #FF6433;
    border: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.process-right {
    width: 60%;
    height: 80vh;
    margin-top: 25px;
}

.process-right .process {
    display: flex;
    width: 75%;
    margin-bottom: 30px;
}

.process-right .process .process-image {
    width: 20%;
    margin-right: 20px;
}

.process-right .process-image img {
    width: 100%;
}

.process-right .process .process-text h3 {
    margin: 10px 0;
    font-size: 32px;
}

.process-right .process .process-text p {
    font-size: 18px;
    width: 80%;
}

.process-right .vertical-line {
    border-left: 2px dashed #FF6433;
    height: 60px;
    margin-left: 5%;
    margin-top: -75px;
    margin-bottom: 5px;
}

/* Styling for page 4 */

#page4 {
    width: 100%;
    background-color: #F2F2F2;
    height: 100vh;
}

#page4 .top-section {
    text-align: center;
    margin: auto;
}

#page4 .top-section h4 {
    font-size: 24px;
    padding-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

#page4 .top-section h1 {
    font-size: 50px;
    font-family: 'Manrope', sans-serif;
    margin: 0 220px;
}

.offer-images {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.offer-images .image-box, .offer-images .image-box-selected {
    width: 24%;
    height: 150px;
    background-color: white;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 7px 7px 0;
}

.offer-images .image-box-selected {
    background-color: #FF6433;
} 

.offer-images .image-box img, .offer-images .image-box-selected img {
    width: 35px;
}

.offer-images .image-box p, .offer-images .image-box-selected p {
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    padding-top: 10px;
}

.offer-images .image-box-selected p {
    color: white;
}

.offer-images .image-box:hover {
    background-color: #FF6433;
    color: white;
    font-weight: 550;
}

#page4 .learn-section {
    display: flex;
    justify-content: flex-end;
}

.learn-section .learn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 225px 0;
    margin-bottom: 30px;
}

.learn-section .learn img {
    margin-left: 10px;
}

#page4 .learn-section a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 550;
    font-family: 'Manrope', sans-serif;
}

/* styling Page 5 */

#page5 {
    width: 100%;
    height: 92vh;
    background-color: #F2F2F2;
    padding-top: 40px;
}

#page5 #image-section {
    display: flex;
    width: 100%;
}

#page5 #image-section .left-image {
    width: 50%;
    background-image: url(../img/car-backview.png);
    height: 60vh;
}

#page5 #image-section .right-image {
    width: 50%;
    background-image: url(../img/Jump-start.png);
    height: 60vh;
}

#page5 #image-section #orange-box {
    height: 60vh;
    width: 75%;
    background-color: #FF6433;
    position: relative;
    left: 310px;
}

#page5 #image-section #orange-box h3 {
    font-size: 40px;
    color: white;
    font-weight: 600;
    padding: 80px 50px 0 60px ;
    font-family: 'Manrope', sans-serif;
}

#page5 #experience-section {   
    width: 80%;
    margin: 0 auto;
}

.experience-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp-box {
    margin: 30px 0px 10px;
}

.exp-box h1 {
    font-size: 58px;
    line-height: 70px;
    color: #661CE7;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.exp-box p {
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

/* Styling Page 6 */
#page6 {
    width: 100%;
    background-color: #FAFAFA;
    height: auto;
}

#page6 h2 {
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

#page6 #brand-section {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 10px auto 0;
}

#page6 #brand-section .image-box {
    width: 20%;
    margin-bottom: 10px;
}

/* Styling Page 7 */

#page7 {
    width: 100%;
    background-color: #E2E6E9;
}
#page7 .page-body{
    background-color: #F2F2F2;
    height: 100vh;
}

#page7 h2 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0 30px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    width: 60%;
}

.review-section {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;  
}

.review-section .review-box {
    width: 40%;
    background-color: #ffffff;
    padding: 30px;
    margin-left: 30px;
    border-radius: 6px;
}

.review-section .review-box .review-bio {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    font-family: 'Manrope', sans-serif;
}

.review-section .review-box .review-bio .review-image {
    padding-right: 20px;
    width: 70px;
}

.review-section .review-box .review-bio .review-image img {
    width: 100%;
}

.review-section .review-box .review-bio .name {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.review-section .review-box .review-bio .location {
    font-size: 16px;
    color: #939191;
}

.review-section .review-box .review-text {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Manrope', sans-serif;
}

#page7 .page-body .bottom-section {
    height: 8%;
    margin: 0px auto 50px;
    display: flex;
    align-items: center;
    width: 70%;
}

#page7 .page-body .bottom-section .scroll-lines {
    margin: 0px auto;
}

#page7 .page-body .bottom-section .scroll-lines img {
    margin: 0 40%;
}

#page7 .page-body .bottom-section .scroll-arrow {
    justify-content: flex-end;
    margin-right: 15px;
    align-items: center;
    display: flex;
}

#page7 .page-body .bottom-section .scroll-arrow #left-arrow {
    width: 35px;
}

#page7 .page-body .bottom-section .scroll-arrow #right-arrow {
    width: 55px;
    padding-left: 10px;
}

/* Page 8 Styling */
#page8 {
    width: 100%;
}

#page8 .page-body {
    background-color: #E2E6E9;
    height: 100vh;
    padding-top: 50px;
    width: 100%;
}

#page8 .page-body h3 {
    font-size: 48px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800px;
    text-align: center;
    margin-bottom: 10px;
}

.faq-section {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.faq-section .faq {
    background-color: #ffffff;
    padding: 8px 25px;
    margin-bottom: 10px;
    width: 100%;
}

.faq-section .faq .answer p {
    font-size: 18px;
    color: #939191;
    opacity: 0.8;
}

.faq-section .faq .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-section .faq .question p {
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

/* Styling Page 9 */
#page9 {
    width: 100%;
}

#page9 .top-section {
    background-color: #1E1B1B;
    opacity: 0.98;
    height: 60vh;
    display: flex;
    justify-content: center;
}

#page9 .top-section .left-section {
    width: 50%;
    padding: 60px 10px 0px 120px;
}

#page9 .top-section h3 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: white;
    padding-bottom: 35px;
    font-family: 'Manrope', sans-serif; 
}

#page9 .top-section .left-section .social-icons {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#page9 .top-section .left-section img {
    width: 30px;
    margin-right: 20px;
}

#page9 .top-section .right-section {
    width: 50%;
    color: #ffffff;
    padding-top: 60px;
}

#page9 .top-section .right-section h5 {
    font-size: 18px;
    opacity: 0.65;
    font-weight: 500;
    padding-bottom: 5px;
    font-family: 'Manrope', sans-serif;
}

#page9 .top-section .right-section p {
    font-size: 24px;
    padding-bottom: 30px;
    font-family: 'Manrope', sans-serif;
}

/* Styling the Footer */
footer {
    background-color: #1E1B1B;
    opacity: 1;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

footer .logo {
    width: 25%;
    text-align: center;
}

footer nav {
    display: flex;
    width: 65%;
    margin: 0 20px;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer nav ul li {
    text-align: center;
    width: 20%;
}

footer nav a {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    line-height: 30px;
    text-align: center;
    /* width: 20%; */
}

footer ul a:hover {
    color: #FF6433;
    font-size: 28px;
}

footer #copyright {
    width: 30%;
}

footer p {
    text-align: center;
    font-size: 20px;
    color: #939191;
    font-weight: 600;
    line-height: 24px;
    font-family: 'Manrope', sans-serif;
}

/* Mobile View */
@media (max-width: 426px) {
    #page1, #page2, #page4, #page5, #page6, #page7, #page7 .page-body, #page8, #page8 .page-body, #page9, #page9 .top-section, footer {
        height: auto;
        width: 100%;
    }
    #page1 .container header .contact {
        display: none;
        width: 5%;
    }
    #page1 .container, #page3 {
        width: 90%;
        margin: 0 auto;
        height: auto;
    }
    #page1 .container header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 20px auto 10px;
    }
    #page1 .container header .logo img {
        width: 10%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }
    #page1 .container header .right-section {
        width: 100%;
        margin: 10px 0;
        padding: 0;           
    }
    #page1 .container header .right-section nav {
        width: 100%;
    }
    #page1 .container header .right-section ul {
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }    
    #page1 .container header ul a {
        font-size: 16px;
        padding-right: 10px;
        line-height: 15px;
        width: 19%;
    }
    #page1 .container .page-body, #page2, #page3 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0%;
    }
    #page1 .container .page-body .left-section {
        width: 100%;
        margin: 0px auto;
    }
    #page1 .container .page-body .left-section h1 {
        font-size: 30px;
        font-weight: 600;
    }

    #page1 .container .page-body .right-section {
        height: auto;
        width: 100%;
        margin-top: 20px;
    }

    /* Page 2 */
    #page2 .services{
        margin: 50px auto 0;
        width: 80%;
        height: auto;
    }
    #page2 .services h2 {
        font-size: 32px;
        line-height: 36px;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    #page2 .services ul li img {
        width: 46px;
        padding-right: 10px;
    }
    #page2 .services ul li h5 {
        font-size: 22px;
    }
    #page2 .services ul li p {
        font-size: 15px;
        padding-left: 48px;
        line-height: 28px;
        width: auto;
        padding-right: 10px;
    }
    #page2 .services .know-more {
        padding-left: 48px;
    }
    #page2 .services .know-more a {
        font-size: 18px;
    }
    #page2 .services .know-more a img {
        height: 15px;
    }
    #page2 .form-section {
        width: 90%;
        margin: 10px auto 0;
    }
    #page2 .form-section h3 {
        font-size: 28px;
        line-height: 32px;
        width: 100%;
        margin: 30px auto 10px;
    }
    #page2 .form-section .input-box {
        display: flex;
        justify-content: center;
    }
    input[type="text"] {
        padding: 10px 20px;
        font-size: 15px;
        line-height: 19px;
    }
    input[type="text"]:focus {
        outline: none;
        border: 1px #FF6433 solid;
    }
    #button {
        width: auto;
        margin: 20px 0 20px 90px;
    }

    /* Page 3 */
    #page3 .process-left {
        margin: 20px auto 0;
        width: 100%;
    }
    #page3 .process-left h1 {
        font-size: 32px;
        text-align: center;        
    }
    #page3 .process-right {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        margin: 20px auto;
    }
    #page3 .process-right .process {
        width: 100%;
        margin: 0;
    }
    .process-right .process .process-image {
        width: 32%;
    }
    .process-right .process .process-text h3 {
        font-size: 24px;
        margin: 10px 0 10px 0;
    }
    .process-right .process .process-text p {
        width: 100%;
        font-size: 18px;
        padding-bottom: 15px;
    }
    .process-right .vertical-line {
        border-left: 2px dashed #FF6433;
        height: 60px;
        margin-left: 8%;
        margin-top: -75px;
        margin-bottom: 15px;
    }
    /* Page 4 */
    #page4 .top-section h1 {
        font-size: 32px;
        margin: 10px 6px;
    }
    .offer-images {
        width: 96%;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .offer-images .image-box, .offer-images .image-box-selected {
        width: 30%;
        height: 120px;
    }
    .offer-images .image-box img, .offer-images .image-box-selected img{
        width: 25px;
    }
    .offer-images .image-box p, .offer-images .image-box-selected p {
        font-size: 16px;
        line-height: 20px;
    }
    #page4 .learn-section {
        display: flex;
    }
    .learn-section .learn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8% 10px 0;
    }
    #page4 .learn-section a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 550;
        font-family: 'Manrope', sans-serif;
    }
    /* Page 5 */
    #page5 {
        padding-top: 10px;
    }
    #page5 #image-section {
        display: flex;
        width: 100%;
        height: 250px;
    }
    #page5 #image-section .left-image, #page5 #image-section .right-image {
        width: 50%;
        height: 250px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #page5 #image-section #orange-box {
        height: 250px;
        width: 80%;
        background-color: #FF6433;
        position: relative;
        left: 80px;
    }
    #page5 #image-section #orange-box h3 {
        font-size: 22px;
        color: white;
        font-weight: 600;
        padding: 20px;
    }
    #page5 #experience-section {
        width: 100%;
    }
    .exp-box {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        width: 25%;
    }
    .exp-box h1 {
        font-size: 26px;
        line-height: 36px;
        color: #661CE7;
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
    }
    .exp-box p {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    /* Page 6 */
    #page6 {
        margin: 0 auto;
    }
    #page6 h2 {
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        padding-top: 20px;
        font-weight: 700;
    }
    #page6 #brand-section {
        margin: 0 auto;
        width: 95%;
        flex-wrap: wrap;
    }
    #page6 #brand-section .image-box {
        width: 50%;
        margin: 0 auto;
    }
    #page6 #brand-section .image-box img {
        width: 100%;
    }
    /* Page 7 */
    #page7 h2 {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        padding: 20px 15px;
        margin: 0 auto;
        font-family: 'Manrope', sans-serif;
        width: 100%;
    }
    .review-section {
        width: 98%;
        display: flex;
        flex-direction: column;
        margin: 0 auto 10px;
    }
    .review-section .review-box {
        width: 90%;
        background-color: #ffffff;
        padding: 15px;
        margin: 10px auto;
        border-radius: 6px;
    }
    .review-section .review-box .review-bio {
        padding-bottom: 10px;
    }
    .review-section .review-box .review-bio .review-image {
        width: 50px;
        padding-right: 15px;
    }
    .review-section .review-box .review-bio .review-image img {
        width: 100%;
    }
    .review-section .review-box .review-bio .name {
        font-size: 18px;
        line-height: 20px;
    }
    .review-section .review-box .review-bio .location {
        font-size: 14px;
    }
    .review-section .review-box .review-text {
        font-size: 14px;
        line-height: 20px;
    }
    #page7 .page-body .bottom-section {
        height: auto;
        margin: 0px auto;
        display: flex;
        width: 100%;
        padding-right: 12px;
        padding-bottom: 15px;
        align-items: unset;
    }
    #page7 .page-body .bottom-section .scroll-lines img {
        margin: 0;
        margin-left: 55%;
        width: 50%;
    }
    #page7 .page-body .bottom-section .scroll-arrow #left-arrow {
        width: 25px;
    }
    #page7 .page-body .bottom-section .scroll-arrow #right-arrow {
        width: 40px;
        padding-left: 5px;
    }
    /* Page 8 */
    #page8 .page-body {
        padding-top: 30px;
    }
    #page8 .page-body h3 {
        font-size: 32px;
        margin: 0 auto 20px;
        line-height: 36px;
    }
    #page8 .faq-section {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    #page8 .faq-section .faq {
        padding: 8px 15px;
    }
    #page8 .faq-section .faq .question p {
        font-size: 16px;
    }
    #page8 .faq-section .faq .question #minus, .faq-section .faq .question #plus {
        width: 35px;
    }
    #page8 .faq-section .faq .question #minus img, .faq-section .faq .question #plus img {
        width: 100%;
    }
    #page8 .faq-section .faq .answer p {
        font-size: 12px;
    }
    /* Page 9 */
    #page9 .top-section {
        opacity: 0.98;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
    }
    #page9 .top-section .left-section {
        width: 90%;
        padding: 0;
        margin-top: 40px;
    }
    #page9 .top-section h3 {
        font-size: 34px;
        line-height: 40px;
        padding-bottom: 30px;
    }
    #page9 .top-section .left-section .social-icons {
        width: 80%;
    }
    #page9 .top-section .left-section .social-icons img {
        width: 10%;
    }
    #page9 .top-section .right-section {
        padding-top: 40px;
        width: 80%;
        padding-bottom: 20px;
    }
    #page9 .top-section .right-section h5 {
        font-size: 14px;
        padding-bottom: 0;
    }
    #page9 .top-section .right-section p {
        font-size: 18px;
        padding-bottom: 20px;
    }
    /* Footer */
    footer {
        justify-content: space-around;
    }
    footer .logo {
        width: 18%;
        padding-left: 8px;
    }
    footer .logo img {
        width: 100%;
    }
    footer nav {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    footer nav ul {
        width: 100%;
        justify-content: space-evenly;
    }
    footer nav a {
        font-size: 11px;
        padding-right: 0;
        line-height: 16px;
    }
    footer #copyright {
        width: 25%;
        padding-right: 5px;
    }
    footer #copyright p {
        margin: 0;
        font-size: 11px;
        line-height: 14px;
    }
}

@media (max-width: 769px) and (min-width: 429px) {
    #page1, #page2, #page4, #page5 {
        width: 100%;
        height: auto;
        padding: 0;
    }
    #page1 .container {
        width: 94%;
        height: auto;
    }
    #page1 .container header {
        margin: 20px auto;
        justify-content: flex-start;
        width: 100%;
    }
    #page1 .container header #logo {
        width: 14%;
    }
    #page1 .container header #logo img {
        width: 100%;
    }
    #page1 .container header .right-section {
        width: 80%;
    }
    #page1 .container header .right-section nav {
        width: 80%;
        padding: 0 20px;
    }
    #page1 .container header ul a {
        font-size: 16px;
        padding: 0;
        width: 20%;
    }
    #page1 .container header .contact {
        width: 40%;
        padding: 0;
        justify-content: center;
    }
    #page1 .container header .contact img {
        padding-left: 10px;
    }
    #page1 .container header .contact .road-assist #assist {
        font-size: 14px;
    }
    #page1 .container header .contact .road-assist #phone-number {
        font-size: 16px;
        padding-top: 0;
    }
    #page1 .container .page-body {
        width: 100%;
        justify-content: center;
        height: auto;
    }
    #page1 .container .page-body .left-section {
        width: 50%;
        margin-left: 10px;
    }
    #page1 .container .page-body .left-section h1 {
        font-size: 36px;
        line-height: 45px;
        width: 100%;
        padding-bottom: 10px;
    }
    #page1 .container .page-body .right-section {
        width: 50%;
    }
    #page1 .container .page-body .left-section #button {
        margin-bottom: 20px;
    }
    #page1 .container .page-body .left-section .open-part {
        font-size: 16px;
    }
    #page1 .container .page-body .left-section .open-part #open {
        font-size: 14px;
        padding-bottom: 0;
    }
    /* Page 2 */
    #page2 .services {
        margin: 40px 0 0 40px;
        height: auto;
        width: 50%;
    }
    #page2 .services h2 {
        font-size: 36px;
        line-height: 38px;
        width: 100%;
        margin-bottom: 0;
    }
    #page2 .services ul li img {
        width: 36px;
    }
    #page2 .services ul li h5 {
        font-size: 25px;
    }
    #page2 .services ul li p {
        font-size: 16px;
        padding: 0 40px 20px 35px;
        width: 100%;
    }
    #page2 .services .know-more {
        padding-left: 35px;
        margin-bottom: 30px;
    }
    #page2 .form-section h3 {
        font-size: 36px;
        line-height: 40px;
        width: 80%;
        margin: 50px 0 30px 10px;
    }
    input[type="text"] {
        width: 80%;
        padding: 8px 30px;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 20px;
        border-radius: 4px;
    }
    #page3 {
        padding-top: 30px;
    }
    #page3 .process-left {
        margin: 10px 30px 0;
        width: 40%;
    }
    #page3 .process-left h1 {
        font-size: 36px;
    }
    #page3 .process-left p {
        line-height: 20px;
        width: 80%;
        letter-spacing: 0.02em;
    }
    #page3 .process-left #button {
        width: auto;
    }
    .process-right {
        height: auto;
        width: 60%;
    }
    .process-right .process {
        width: 90%;
    }
    .process-right .process .process-text h3 {
        font-size: 24px;
        margin: 5px 0;
    }
    .process-right .process .process-image {
        width: 20%;
    }
    .process-right .process .process-text p {
        width: 100%;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .process-right .vertical-line {
        border-left: 2px dashed #FF6433;
        height: 60px;
        margin-left: 5%;
        margin-top: -70px;
        margin-bottom: 5px;
    }
    /* Page 4 */
    #page4 .top-section h1 {
        margin: 0 auto;
        font-size: 36px;
        line-height: 40px;
        width: 70%;
    }
    .offer-images {
        width: 85%;
    }
    .offer-images .image-box, .offer-images .image-box-selected {
        width: 23%;
    }
    .offer-images .image-box p, .offer-images .image-box-selected p {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        font-family: 'Manrope', sans-serif;
    }
    .learn-section .learn {
        justify-content: flex-end;
        padding: 20px 10% 0 ;
    }
    #page5 #image-section .left-image, #page5 #image-section .right-image {
        width: 50%;
        height: 250px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #page5 #image-section #orange-box {
        height: 250px;
        width: 80%;
        left: 160px;
    }
    #page5 #image-section #orange-box h3 {
        font-size: 32px;
        line-height: 40px;
        padding: 30px 20px 0 30px;
    }
    #page5 #experience-section {
        width: 95%;
    }
    .experience-row {
        margin: 0 auto;
    }
    .exp-box {
        width: 23%;
        text-align: center;
        margin: 10px 0;
    }
    .exp-box h1 {
        font-size: 36px;
        line-height: 40px;
        
    }
    .exp-box p {
        font-size: 16px;
    }
    /* Page 6 */
    #page6 h2 {
        font-size: 36px;
        line-height: 40px;
        padding-top: 30px;
    }
    #page6 #brand-section .image-box {
        width: 28%;
        margin: auto;
    }
    #page7 .page-body {
        height: auto;
    }
    #page7 h2 {
        font-size: 36px;
        line-height: 42px;
        padding: 30px 0 20px;
        width: 80%;
    }
    .review-section {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    .review-section .review-box {
        width: 45%;
        padding: 30px;
        margin-left: 15px;
    }
    .review-section .review-box .review-bio .name {
        font-size: 22px;
        line-height: 30px;
    }
    .review-section .review-box .review-text {
        font-size: 18px;
        line-height: 24px;
    }
    #page7 .page-body .bottom-section {
        height: 8%;
        margin: 0px auto;
        padding: 1% 1.5% 2.5%;
        width: auto;
    }
    /* Page 8 */
    #page8 .page-body {
        height: auto;
        padding-top: 30px;
    }
    #page8 .page-body h3 {
        font-size: 42px;
        margin-bottom: 20px;
    }
    .faq-section {
        width: 80%;
    }
    .faq-section .faq .question p {
        font-size: 20px;
    }
    .faq-section .faq .answer p {
        font-size: 14px;
        width: 90%;
    }
    .faq-section .faq .question #minus, .faq-section .faq .question #plus {
        width: 40px;
    }
    .faq-section .faq .question #minus img, .faq-section .faq .question #plus img {
        width: 100%;
    }
    /* Footer  */
    #page9 .top-section .left-section {
        width: 40%;
        padding: 50px 40px 0px 30px;
    }
    #page9 .top-section h3 {
        font-size: 36px;
        line-height: 42px;
        /* width: 70%; */
    }
    #page9 .top-section .right-section h5 {
        font-size: 14px;
    }
    #page9 .top-section .right-section p {
        font-size: 20px;
        padding-bottom: 20px;
    }
    footer .logo {
        width: 20%;
    }
    footer nav {
        width: 60%;
        margin: 0;
        justify-content: center;
        padding-left: 10px;
    }
    footer nav ul {
        width: 100%;
    }
    footer nav a {
        width: 20%;
    }
    footer #copyright {
        width: 20%;
        padding-right: 1%;
    }
    footer p {
        margin: 0;
    }
}


