@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

/* Styling Page 1 */
#page1 {
    height: 100vh;
}

#page1 .container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

#page1 .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

#page1 .container header .logo {
    width: 40%;
}

#page1 .container header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#page1 .container header ul a {
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
    line-height: 26px;
    color: #1E1B1B;
    font-family: 'Manrope', sans-serif;
}

#page1 .container header .right-section {
    width: 70%;
    display: flex;
}

#page1 .container header .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #939191;
    padding: 0 20px;
    height: 30px;
}

#page1 .container header .contact img {
    padding-right: 10px;
    width: 90%;
}

#page1 .container header .contact .road-assist #assist {
    font-size: 16px;
    opacity: 0.7;
}

#page1 .container header .contact .road-assist #phone-number {
    font-size: 18px;
    opacity: 1.0;
    padding-top: 5px;
}

#page1 .container .page-body {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#page1 .container .page-body .left-section {
    width: 50%;
}

#page1 .container .page-body .left-section h1 {
    font-size: 54px;
    padding-bottom: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

#page1 .container .page-body .left-section #button {
    padding: 10px 40px;
    font-size: 18px;
    width: auto;
    border-radius: 8px;
    margin-bottom: 40px;
    cursor: pointer;
}

#page1 .container .page-body .left-section .open-part {
    display: flex;
    align-items: center;
    font-size: 18px;
}

#page1 .container .page-body .left-section .open-part img {
    margin-right: 15px;
    width: 30px;
}

#page1 .container .page-body .left-section .open-part #open {
    font-size: 16px;
    color: #939191;
    padding-bottom: 5px;
}

#page1 .container .page-body .right-section {
    width: 50%;
    height: 90vh;
}

#page1 .container .page-body .right-section img {
    width: 100%;
}

/* Styling Page 2 */
#page2 {
    height: 100vh;
    background-color: #E2E6E9;
    display: flex;
    justify-content: space-around;
}

#page2 .services {
    width: 60%;
    margin: 80px 0 0 150px;
    height: 100vh;
}

#page2 .services h2 {
    font-size: 48px;
    line-height: 54px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 10px;
    width: 80%;
}

#page2 .services ul {
    list-style: none;
}

#page2 .services ul li h5 {
    font-size: 30px;
}

#page2 .services ul li .top {
    display: flex;
    align-items: center;
}
#page2 .services ul li img {
    width: 50px;
    padding-right: 10px;
}

#page2 .services ul li p {
    font-size: 18px;
    padding: 0 40px 25px 50px;
    width: 90%;
}

#page2 .services .know-more {
    padding-left: 50px;
}

#page2 .services .know-more a {
    text-decoration: none;
    font-size: 18px;
    color: #1E1B1B;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    align-items: center;
    display: flex;
}

#page2 .services .know-more img {
    padding-left: 10px;    
}

#page2 .form-section {
    width: 50%;
}

#page2 .form-section h3 {
    font-size: 48px;
    line-height: 60px;
    width: 70%;
    margin: 100px 0 30px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px 30px;
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 20px;
    border: none;
    border-radius: 2px;
}

#page2 .form-section #button {
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    width: auto;
}

/* Styling page 3 */

#page3 {
    background-color: #fff;
    display: flex;
    padding-top: 80px;
}

#page3 .process-left {
    margin: 60px 120px;
    width: 40%;
}

#page3 .process-left h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    letter-spacing: -0.03em;
}

#page3 .process-left p {
    font-size: 16px;
    line-height: 28px;
    width: 90%;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: #1E1B1B;
    padding-top: 15px;
    margin-bottom: 10px;
}

#button {
    width: 30%;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #FF6433;
    border: none;
    color: white;
    margin-top: 10px;
}

.process-right {
    width: 60%;
    height: 80vh;
    margin-top: 25px;
}

.process-right .process {
    display: flex;
    width: 65%;
    margin-bottom: 30px;
}

.process-right .process .process-image {
    width: 20%;
    margin-right: 20px;
}

.process-right .process-image img {
    width: 100%;
}

.process-right .process .process-text h3 {
    margin: 10px 0;
    font-size: 32px;
}

.process-right .process .process-text p {
    font-size: 18px;
    width: 80%;
}

.process-right .vertical-line {
    border-left: 2px dashed #FF6433;
    height: 60px;
    margin-left: 4%;
    margin-top: -75px;
    margin-bottom: 15px;
}

/* Styling for page 4 */

#page4 {
    background-color: #F2F2F2;
    height: 100vh;
}

#page4 .top-section {
    text-align: center;
    margin: auto;
}

#page4 .top-section h4 {
    font-size: 24px;
    padding-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    letter-spacing: -0.03em;
}

#page4 .top-section h1 {
    font-size: 50px;
    font-family: 'Manrope', sans-serif;
    margin: 0 220px;
}

.offer-images {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    margin-top: 20px;
}

.offer-images .image-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 7px auto 0;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.offer-images .image-row .image-box, .offer-images .image-row .image-box-selected {
    width: 220px;
    height: 140px;
    background-color: white;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offer-images .image-row .image-box-selected {
    background-color: #FF6433;
} 

.offer-images .image-row .image-box img, .offer-images .image-row .image-box-selected img {
    width: 35px;
}

.offer-images .image-row .image-box p, .offer-images .image-row .image-box-selected p {
    font-size: 20px;
    line-height: 36px;
    text-align: center;   
    font-family: 'Manrope', sans-serif;
}

.offer-images .image-row .image-box:hover {
    background-color: #FF6433;
    color: white;
    font-weight: 550;
}

#page4 .learn-section {
    display: flex;
    justify-content: flex-end;
}

.learn-section .learn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 225px;
    margin-bottom: 30px;
}

.learn-section .learn img {
    margin-left: 10px;
}

#page4 .learn-section a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 550;
    font-family: 'Manrope', sans-serif;
}

/* styling Page 5 */

#page5 {
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    border-bottom: 2px solid white;
    padding-top: 40px;
}

#page5 #image-section {
    display: flex;
    width: 100%;
}

#page5 #image-section .left-image {
    width: 50%;
    background-image: url(../img/car-backview.png);
    height: 60vh;
}

#page5 #image-section .right-image {
    width: 50%;
    background-image: url(../img/Jump-start.png);
    height: 60vh;
}

#page5 #image-section #orange-box {
    height: 60vh;
    width: 75%;
    background-color: #FF6433;
    position: relative;
    left: 310px;
}

#page5 #image-section #orange-box h3 {
    font-size: 40px;
    color: white;
    font-weight: 600;
    padding: 80px 50px 0 60px ;
    font-family: 'Manrope', sans-serif;
}

#page5 #experience-section {   
    width: 80%;
    margin: 0 auto;
}

.experience-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.exp-box {
    margin: 40px 0px;
}

.exp-box h1 {
    font-size: 58px;
    line-height: 70px;
    color: #661CE7;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.exp-box p {
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

/* Styling Page 6 */

#page6 {
    background-color: #FAFAFA;
    height: 80vh;
}

#page6 h2 {
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

#page6 #brand-section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#page6 #brand-section .brand-row {
    display: flex;
    justify-content: center;
}

#page6 #brand-section .brand-row .image-box {
    padding-right: 20px;
}

/* Styling Page 7 */

#page7 {
    background-color: #E2E6E9;
}
#page7 .page-body{
    background-color: #F2F2F2;
    height: 100vh;
}

#page7 h2 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding: 80px 0 30px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    width: 60%;
}

.review-section {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;  
}

.review-section .review-box {
    width: 40%;
    background-color: #ffffff;
    padding: 30px;
    margin-left: 30px;
    border-radius: 6px;
}

.review-section .review-box .review-bio {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    font-family: 'Manrope', sans-serif;
}

.review-section .review-box .review-bio .review-image {
    padding-right: 20px;
    width: 70px;
}

.review-section .review-box .review-bio .review-image img {
    width: 100%;
}

.review-section .review-box .review-bio .name {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.review-section .review-box .review-bio .location {
    font-size: 16px;
    color: #939191;
}

.review-section .review-box .review-text {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Manrope', sans-serif;
}

#page7 .page-body .bottom-section {
    height: 8%;
    margin: 0px auto 50px;
    display: flex;
    align-items: center;
    width: 70%;
}

#page7 .page-body .bottom-section .scroll-lines {
    margin: 0px auto;
}

#page7 .page-body .bottom-section .scroll-lines img {
    margin: 0 40%;
}

#page7 .page-body .bottom-section .scroll-arrow {
    justify-content: flex-end;
    margin-right: 15px;
    align-items: center;
    display: flex;
}

#page7 .page-body .bottom-section .scroll-arrow #left-arrow {
    width: 35px;
}

#page7 .page-body .bottom-section .scroll-arrow #right-arrow {
    width: 55px;
    padding-left: 10px;
}

/* Page 8 Styling */
#page8 .page-body {
    background-color: #E2E6E9;
    height: 100vh;
    padding-top: 50px;
}

#page8 .page-body h3 {
    font-size: 48px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800px;
    text-align: center;
    margin-bottom: 30px;
}

.faq-section {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.faq-section .faq {
    background-color: #ffffff;
    padding: 8px 25px;
    margin-bottom: 10px;
    width: 100%;
}

.faq-section .faq .answer p {
    font-size: 18px;
    color: #939191;
    opacity: 0.8;
    display: none;
}

.faq-section .faq .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-section .faq .question p {
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

/* Styling Page 9 */
#page9 {
    width: 100%;
}

#page9 .top-section {
    background-color: #1E1B1B;
    opacity: 0.98;
    height: 60vh;
    display: flex;
    justify-content: center;
}

#page9 .top-section .left-section {
    width: 50%;
    padding: 60px 10px 0px 120px;
}

#page9 .top-section h3 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: white;
    padding-bottom: 35px;
    font-family: 'Manrope', sans-serif; 
}

#page9 .top-section .left-section .social-icons {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#page9 .top-section .left-section img {
    width: 30px;
    margin-right: 20px;
}

#page9 .top-section .right-section {
    width: 50%;
    color: #ffffff;
    padding-top: 60px;
}

#page9 .top-section .right-section h5 {
    font-size: 18px;
    opacity: 0.65;
    font-weight: 500;
    padding-bottom: 5px;
    font-family: 'Manrope', sans-serif;
}

#page9 .top-section .right-section p {
    font-size: 24px;
    padding-bottom: 30px;
    font-family: 'Manrope', sans-serif;
}

/* Styling the Footer */
footer {
    background-color: #1E1B1B;
    opacity: 1;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

footer nav {
    display: flex;
    width: 40%;
    margin-left: 80px;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    padding-right: 30px;
    font-family: 'Manrope', sans-serif;
    line-height: 24px;
}

footer .logo {
    width: 30%;
    text-align: center;
}

footer #copyright {
    width: 30%;
}

footer p {
    text-align: center;
    margin-right: 80px;
    font-size: 16px;
    color: #939191;
    font-weight: 600;
    line-height: 24px;
    font-family: 'Manrope', sans-serif;
}

/* Mobile View */
@media (max-width: 426px) {
    #page1, #page2 {
        height: auto;
    }
    #page1 .container header .contact {
        display: none;
    }
    #page1 .container, #page3 {
        width: 90%;
        margin: 0 auto;
        height: auto;
    }
    #page1 .container header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 20px auto 10px;
        border-bottom: 1px dotted #1E1B1B;
    }
    #page1 .container header .logo img {
        width: 10%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }
    #page1 .container header .right-section {
        width: 100%;
        margin: 10px 0;
        padding: 0;
                
    }
    #page1 .container header .right-section ul {
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }    

    #page1 .container header .right-section ul li {
        padding-right: 10px;
    }

    #page1 .container header ul a {
        font-size: 14px;
        padding-right: 12px;
        line-height: 0;
        font-weight: 600;
    }
    #page1 .container .page-body, #page2, #page3 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0%;
    }
    #page1 .container .page-body .left-section {
        width: 100%;
        margin: 0px auto;
    }
    #page1 .container .page-body .left-section h1 {
        font-size: 30px;
        font-weight: 600;
        width: 60%;
    }

    #page1 .container .page-body .right-section {
        height: auto;
        width: 100%;
        margin-top: 20px;
    }

    /* Page 2 */
    #page2 .services{
        margin: 30px auto 0;
        width: 80%;
    }
    #page2 .services h2 {
        font-size: 26px;
        line-height: 30px;
        width: 100%;
        margin: 0;
    }
    #page2 .services ul li img {
        width: 32px;
        padding-right: 10px;
    }

    #page2 .services ul li h5 {
        font-size: 16px;
    }
    #page2 .services ul li p {
        font-size: 10px;
        padding-left: 28px;
        line-height: 15px;
        width: 80%;
    }
    #page2 .services .know-more {
        padding-left: 28px;
    }
    #page2 .services .know-more a {
        font-size: 12px;
    }
    #page2 .services .know-more a img {
        height: 9px;
    }
    #page2 .form-section {
        width: 90%;
        margin: 0 auto;
    }
    #page2 .form-section h3 {
        font-size: 23px;
        width: 100%;
        margin: 40px auto 20px;
    }
    #page2 .form-section .input-box {
        display: flex;
        justify-content: center;
    }
    input[type="text"] {
        padding: 10px 20px;
        font-size: 15px;
        line-height: 19px;
    }
    input[type="text"]:focus {
        outline: none;
        border: 1px #FF6433 solid;
    }
    #button {
        width: auto;
        margin: 20px 0 40px 90px ;
    }
}